.ant-layout-header.header {
  background: #fff;
}

.ant-menu.menu {
  line-height: 64px;
}

.ant-layout-content.content {
  padding: 0 50px;

  & > div {
    background: #FFF;
    padding: 24px;
    min-height: 280px;
    margin: 16px 0;
  }
}

.ant-layout-footer.footer {
  text-align: center;
}
