@import '~bulma/bulma.sass';
@import './assets/stylesheets/divider.sass';
@import './components/Autocomplete/Autocomplete/Autocomplete.scss';
@import './components/Setlist/Setlist.scss';
@import './components/EditSetlistForm/ItemInput/ItemInput.scss';

.unstyled-list {
    padding-left: 0;
    list-style: none;
}

.hoverable.dropdown-item {
    cursor: pointer;
    &:hover {
        background-color: whitesmoke;
        color: #0a0a0a;
    }
}
