@import '~bulma/bulma.sass';
@import './assets/stylesheets/divider.sass';
@import './components/Autocomplete/Autocomplete/Autocomplete.scss';
@import './components/Setlist/Setlist.scss';
@import './components/EditSetlistForm/ItemInput/ItemInput.scss';
@import './components/Setlist/SetlistItem/SetlistItem.scss';
@import './components/Layout/SetlistSearch/SetlistSearch.scss';
@import './components/SetlistsList/SetlistItem/SetlistItem.scss';

.unstyled-list {
    padding-left: 0;
    list-style: none;
}

.hoverable.dropdown-item {
    cursor: pointer;
    &:hover {
        background-color: whitesmoke;
        color: #0a0a0a;
    }
}

.loadersmall {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
